<form method="POST" action="articles/<%=@article.id%>">
<input type="hidden" name="_method" value="DELETE">
<input type="submit">
</form>
<body>
  <p>Article's Title: <%= @article.title %></p>
  <p>Article's Content: <%= @article.content %></p>
</body>
